

@import "~react-image-gallery/styles/css/image-gallery.css";

.toparea{
  background: silver;
  text-align: center;
}

.customlink{
  color: inherit;
  text-decoration: none;
}

.navbar{
  margin-top:20px;

}
.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li{
  margin-left:20px;
  color: rgb(7, 7, 69);
  font-size: 25px;
}
.navbar ul li:hover{
  color:gray;
  text-decoration: underline rgb(7, 7, 69);
}

.navsearch{
  margin-top: 40px;
}

.navsearch button{
  width:100px;
  background-color: #1f1055;
  color: #fff;
  border-radius: 5px;
}

.navsearch button:hover{
  background-color: #fff;
  color: #1f1055;
  box-shadow: 2px 2px 1px 1px #1f1055;
}
.icon{
  margin-bottom : 15px;
  width : 30px;
  height : 30px;
  color: #000033;
}

.headericon{
  padding: 35px;
}

.icons{
  font-size: 30px;
}

.categories{
  display: flex;
  margin-bottom: 50px;
  text-align: center;
  color: inherit !important;
  text-decoration: none;
  outline: none;
  
}
/* .category h3{
  color: inherit !important;
  text-decoration: none;
  outline: none;
} */
.cat1{
  width: 250px;
  height: 250px;
}
.cat1 img{
  width:100%;
  height:100%;
}

.linearea{
    margin:30px 0;
    text-align: center;
    
}

.line{
    margin:20px 0;
    height:1px;
    background: black;
    width: 100%;
    
}

.launcharea{
  position: relative;
  margin-bottom: 100px;
}
.launcharea img{
  border-radius: 10px;
}

.panchi{
  position: absolute;
  bottom: 10px;
  align-items: center;
  text-align: center;
  bottom:-75px;
}


.tribe{
  width:150px;
  height:150px;
  margin-left:10px;
  box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  
}

.tribe img{
  width:100%;
  height:100%;
  border-radius: 10px;
}

.photo{
  width: 100%;
}

.bohoarea{
  margin:50px 0;
  text-align: center;
  justify-content: center;
  display:flex;
  gap: 10px;
  
}
.bohoarea button{
  display: inline-block;
   width:200px;
   height:40px;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 10px;
  margin-right: 10px;
}

.bohoarea button:hover{
  background-color: silver;
  color: rgb(4, 4, 48);
  box-shadow: 2px 2px 1px 1px rgb(4, 4, 48);
}
.bohoarea a {
    color: inherit;          
    text-decoration: none;   
}

.bohoarea a:hover,
.bohoarea a:visited,
.bohoarea a:active {
    color: inherit;
    text-decoration: none;
}
.bbox{
  width:100%;
  border-radius: 10px;
}
.bimage{
  width:380px;
  height:380px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.bimage img{
  width:100%;
  height:100%;
  border-radius: 10px;

}
.bimage2{
  display: none;
  border-radius: 10px;

}
.bimage2 img{
  width:100%;
  border-radius: 10px;

}
.bbox:hover .bimage{
  display: none;
}
.bbox:hover .bimage2{
  display: block;
}






.allbox{
  width:100%;
  border-radius: 10px;
  gap: 50px;
}
.allImage{
  /* width:400px;
  height:400px; */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.allImage img{
  width:100%;
  height:100%;
  border-radius: 10px;

}
.allImage2{
  display: none;
  border-radius: 10px;

}
.allImage2 img{
  width:100%;
  border-radius: 10px;

}
.allbox:hover .allImage{
  display: none;
}
.allbox:hover .allImage2{
  display: block;
}


.cartImage img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}



.bestproduct{
  width:380px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.bestproduct2{
  width:380px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.bestproduct img{
  width:100%;
  height:100%;
  border-radius: 10px;
}

.bimage1{
  width:380px;
  height:380px;
  background-size: cover;
  background-image: url(./images/photo1.webp);
  background-position: center;
  border-radius: 10px;
  
}
.bimage1:hover{
  background-image: url(./images/photo11.webp);
  transition: opacity 2s ease-in-out;

}


.bimage2{
  width:380px;
  height:380px;
  background-size: cover;
  background-image: url(./images/photo2.webp);
  background-position: center;
  border-radius: 10px;
}
.bimage2:hover{
  background-image: url(./images/photo22.webp);
}

.bimage3{
  width:380px;
  height:380px;
  background-size: cover;
  background-image: url(./images/photo3.webp);
  background-position: center;
  border-radius: 10px;
}
.bimage3:hover{
  background-image: url(./images/photo33.webp);
}

.bimage4{
  width:380px;
  height:380px;
  background-size: cover;
  background-image: url(./images/photo4.webp);
  background-position: center;
  border-radius: 10px;
}
.bimage4:hover{
  background-image: url(./images/photo44.webp);
  transform: 2s;
}

.bestarea{
  text-align: center;
}
.bestarea a {
    color: inherit;          
    text-decoration: none;   
}

.bestarea a:hover,
.bestarea a:visited,
.bestarea a:active {
    color: inherit;
    text-decoration: none;
}
/* .bestarea button{
   width:150px;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 10px;
}

.bestarea button:hover{
  background-color: silver;
  color: rgb(4, 4, 48);
  box-shadow: 2px 2px 1px 1px rgb(4, 4, 48);
} */
.bbest{
  width: 100%;
}
.bbest:hover .bestproduct{
  display: none;
}
.bbest:hover .bestproduct2{
  display: block;
}
.bestproduct img{
  width: 100%;
  height: 100%;
}
.bestproduct2{
  display: none;
}
.bestproduct2 img{
  width:100%;
  height:100%;
  border-radius: 10px;
}

.error{
  color: #F70000;
  
}

.t1{
  width:380px;
  height:380px;
  background-size: cover;
  background-position: center;

  background-image: url(./images/b1.webp);
}
.t1:hover{
  background-image: url(./images/b11.webp);
}

.t2{
  width:380px;
  height:380px;
  background-size: cover;
  background-position: center;

  background-image: url(./images/b2.webp);
}
.t2:hover{
  background-image: url(./images/b22.webp);
}

.t3{
  width:380px;
  height:380px;
  background-size: cover;
  background-position: center;

  background-image: url(./images/b3.webp);
}
.t3:hover{
  background-image: url(./images/b33.webp);
}

.t4{
  width:380px;
  height:380px;
  background-size: cover;
  background-position: center;

  background-image: url(./images/b4.webp);
}
.t4:hover{
  background-image: url(./images/b44.webp);
}


.collect1 {
  width:350px;
  height:450px;
  overflow: hidden;
}

.collect1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:transform 0.5s ease-in-out;
}

.collect1 img:hover{
  transform:scale(1.1);
}

.collect2 {
  width:350px;
  height:450px;
  overflow: hidden;
}

.collect2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:transform 0.5s ease-in-out;
}

.collect2 img:hover{
  transform:scale(1.1);
}

.collect3 {
  width:350px;
  height:450px;
  overflow: hidden;
}

.collect3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:transform 0.5s ease-in-out;
}

.collect3 img:hover{
  transform:scale(1.1);
}

.collect4 {
  width:350px;
  height:450px;
  overflow: hidden;
}

.collect4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:transform 0.5s ease-in-out;
}

.collect4 img:hover{
  transform:scale(1.1);
}
.giftarea{
  text-align: center;
  margin:50px 0;
  color:inherit !important;
  text-decoration: none !important;

}
.giftarea a, 
.giftarea a:hover, 
.giftarea a:focus, 
.giftarea a:active {
  text-decoration: none !important;
  color: inherit !important;
}
.giftarea button{
  width:150px;
  height:50px;
  margin:20px 0;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 5px;
  
}
.giftarea button:hover{
  background-color: silver;
  color: rgb(4, 4, 48);
  box-shadow: 1px 2px 2px 2px rgb(4, 4, 48);
}

.gimage1{
  width:600px;
  height:650px;
  overflow: hidden;
}

.gimage1 img{
  width:100%;
  height:100%;
  object-fit: cover;
  transition:transform 0.5s ease-in-out;

}
.gimage1 img:hover{
  transform:scale(1.1);

}

.gimage2{
  width:600px;
  height:650px;
  overflow: hidden;
}

.gimage2 img{
  width:100%;
  height:100%;
  object-fit: cover;
  transition:transform 0.5s ease-in-out;

}
.gimage2 img:hover{
  transform:scale(1.1);

}

.reviewarea{
  padding:50px 0;
  text-align: center;
}

.reviewarea img{
  box-shadow: 2px 2px 1px 1px gray;
}
.reviewarea h4{
  color: green;
}
.reviewarea h6{
  color:rgb(4, 4, 48);
}
.reviewarea p{
  color:rgb(4, 4, 48);
}

.loginpage{
  text-align: center;
}
.loginpage button{
  width:150px;
  margin:20px 0;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 5px;
  
}
.loginpage button:hover{
  background-color: #fff;
  color: rgb(4, 4, 48);
  box-shadow: 2px 2px 1px 1px rgb(4, 4, 48);
}


.footerarea{
  background-color: silver;
  text-align: left;
  padding: 50px 0;
}

.footerarea ul li{
  list-style: none;
}
.footerarea ul li:hover{
  text-decoration: underline;
}

.news{
  margin-bottom: 20px;
  text-align: center;
}

.news button{
  width:100px;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 5px;
  
}
.news button:hover{
  background-color: #fff;
  color: rgb(4, 4, 48);
  box-shadow: 2px 2px 1px 1px rgb(4, 4, 48);
}

.socialarea{
 display: flex;
}
.social1{
  width:50px;
  height:50px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  color:#fff;
  background: rgb(4, 4, 48);
}
.s1{
  align-items: center;
   width: 80%;
   height:80%;
   margin-top: 5px;
}

.social1:hover{
  background: #395498;
}

.social2{
  width:50px;
  height:50px;
  color:#fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  background:rgb(4, 4, 48);
}
.s2{
  width: 80%;
  height: 80%;
  margin-top : 5px;

}

.social2:hover{
  background: #1C9CEA;
}

.social3{
  width:50px;
  height:50px;
  color:#fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  background:rgb(4, 4, 48);
}
.s3{
  width: 80%;
  height: 80%;
  margin-top : 5px;

}
.social3:hover{
  background:linear-gradient(to bottom, #5F2690 0%, #E72C92 50%, #F7BD01 100%);
;
}

.social4{
  width:50px;
  height:50px;
  color:#fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  background:rgb(4, 4, 48);
}
.s4{
  width: 80%;
  height: 80%;
  margin-top : 5px;

}
.social4:hover{
  background: #C51F26;
}


.social5{
  width:50px;
  height:50px;
  color:#fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  background:rgb(4, 4, 48);
}
.s5{
  margin-top : 5px;
  width: 80%;
  height: 80%;
}
.social5:hover{
  background: #F70000;
}

.aboutcatagory{
  margin: 0 20px;
}

/* About */

.aboutcatagory{
  margin:50px 0;
  text-align: center;
}
.diamondarea{
  margin-top:50px;
  text-align: center;
}
.diamondarea p{
   padding:20px 0;
}

.diamondarea button{
  width:150px;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 5px;
  margin-left:40px;
}
.diamondarea button:hover{
  background-color: #fff;
  color: rgb(4, 4, 48);
  box-shadow: 2px 2px 1px 1px rgb(4, 4, 48);
}

.producta{
  margin:30px 0;
  text-align: center;
}

.sg{
  margin-bottom:30px;
}
/* fringes */

.productf{
  margin:40px 0;
  text-align: center;
  align-items: center;
  width:100%;
}
.productf button{
  width:150px;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 5px;
  margin-left:40px;
}

.productf button:hover{
  background-color: #fff;
  color: rgb(4, 4, 48);
  box-shadow: 2px 2px 1px 1px rgb(4, 4, 48);
}
.fringe1{
  width:300px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.fringe2{
  width:300px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.fringe1 img{
  width:100%;
  height:100%;
}
.fringe2{
  display: none;
}
.fringe2 img{
  width:100%;
}
.productf:hover .fringe1{
  display: none;
}
.productf:hover .fringe2{
  display: block;
}

.pricearea{
  display: flex;
}

/* Women */
.wm1 img{
  width:100%;

}

.buyarea{
  text-align: center;
}
.cart{
  display: flex;
}
.cart button{
  width:150px;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 5px;
  margin-left:40px;
}

.cart button:hover{
  background-color: gray;
  color: rgb(4, 4, 48);
  box-shadow: 2px 2px 1px 1px rgb(4, 4, 48);
}

.buy1 button{
  margin:50px 0;
  width:500px;
  height:50px;
  background-color: rgb(4, 4, 48);
  color: #fff;
  border-radius: 5px;
  margin-left:40px;
}
.buy1 button:hover{
  background-color: gray;
  color: rgb(4, 4, 48);
  box-shadow: 2px 2px 1px 1px rgb(4, 4, 48);
}

.accordian{
  text-align: left;

}
.accordian button{
  background: none;
  color: none;
}

.fringearea{
  text-align: center;
}
.fringearea p{
  color: inherit;
}


.morecategory a{
  color: inherit;
  text-decoration: none;
}
.morectaegory{
  text-align: center;
}
.morecategory img{
  border-radius: 10px ;
}
.morecategory h6{
  margin:10px 0;
  margin-right: 30px;
  text-align: center;
}
.morecategory .productf button{
  margin-left: 50px;
}

.information{
  text-align: center;
  
}
.aaa{
  width:80%;
  padding:10px;
  border:solid 1px black;
  margin:25px 0;
  text-align: center;
}
.aaa .row{
  margin:5px 0;
}

.zzz{
  display: flex;
  width:100%;
  justify-content: center;
  }


  .bbb{
  color: #F70000 !important;


}

.aaa {
  text-align: center;   
}

.aaa button {
  width: 150px;
  background: rgb(4, 4, 48);
  color: #fff;
  border-radius: 5px;
}

.aaa button:hover {
  color: rgb(4, 4, 48);
  background: #fff;
}



.profile button{
  color:#1f1055;
  background:#fff
}

.information{
  text-align: center;
}

.information button{
  margin-left: 30px;
}

.aaa label{
  color: rgb(9, 9, 62);
}
.inputbox{
  background: rgb(212, 210, 210);
  border: solid 2px rgb(9, 9, 62);
  border-radius: 10px;
  padding:5px;
  color: rgb(9, 9, 62);
  width:100%;
}
.aaa button{
  background: #1f1055;
  color: #fff;
  border-radius: 10px;
}
.aaa button:hover{
  background: silver;
  color: #1f1055;
}


.bohoarea .favourite:hover{
  color:#E72C92
}

.bohoarea .actions {
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* center both */
  gap: 20px;  /* spacing between icon and button */
  margin-top: 10px;
}

.bohoarea .favourite {
  font-size: 40px; 
  padding:10px;
  color: #000033;  /* match theme */
  cursor: pointer;
}

.bohoarea .cart-btn {
  background: #000033;
  color: #fff;
  border: none;
  padding: 2px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.bohoarea .cart-btn:hover{
  color: #000033;
  background: silver;
  box-shadow: 1px 2px 2px 2px #000033;
  
  border: none;
  padding: 2px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.bestarea .favourite:hover{
  color:#E72C92;
}
  .bestarea .actions{
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* center both */
  gap: 20px;  /* spacing between icon and button */
  margin-top: 10px;
}

.bestarea .favourite{
  font-size: 40px; 
  padding:10px;
  color: #000033;  /* match theme */
  cursor: pointer;
}

.bestarea .cart-btn {
  background: #000033 !important;
  color: #fff !important;
  width: 180px;
  height: 40px;
  border: none !important;
  padding: 2px 16px !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  font-size: 14px !important;
}

.bestarea .cart-btn:hover{
  background: silver !important;
  color: #000033 !important;
  border-radius:5px #000033 !important;
  box-shadow: 1px 2px 2px 2px #000033;
}

.favourite:hover{
  color:#E72C92;
}
  .actions{
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* center both */
  gap: 20px;  /* spacing between icon and button */
  margin-top: 10px;
}

.favourite{
  font-size: 40px; 
  padding:10px;
  color: #000033;  /* match theme */
  cursor: pointer;
}

.cart-btn {
  background: #000033 !important;
  color: #fff !important;
  width: 180px;
  height: 40px;
  border: none !important;
  padding: 2px 16px !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  font-size: 14px !important;
}

.cart-btn:hover{
  background: silver !important;
  color: #000033 !important;
  border-radius:5px #000033 !important;
  box-shadow: 1px 2px 2px 2px #000033;
}

.icon-style{
  display:flex;
  align-items: center;
  gap:5px;
}

.feedback{
  color:gold;
  font: size 1.2em;
}

.icon-style p {
  margin-left: 8px;
  font-size: 0.9rem;
  color: #555;
}

.heading h1{
  text-align: center;
}

.error{
  color: #F70000;
  font-size: 14px;
}
.login{
  text-align: center;
  box-shadow: #1f1055;
}
.login h1{
  margin-left: 200px;
  text-align: center;
}

.price1{
  display: flex;
  text-align: center;
}
.price1 h4{
  text-align: center;
  margin-left: 40px;
}
.prodStock{
  text-align: center;
}

.favourite1{
  width:30px;
  height: 30px;
}

.dashboard{
  gap: 40px;
}
.dashboard .d1{
  background: silver;
  border-radius: 20px;
  box-shadow: 2px 4px 2px 2px #000033;
}

.cartIcon{
  position: relative;
}

.iconBage{
  position: absolute;
  top: -30px;
  right:-20px;
  width:30px;
  height:30px;
  background: red;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}
.newLaunch{
  text-align: center;
  margin: 30px 50px;
}

.nextbutton{
  background-color: #000033;
  color: #fff;
  width:100px;
  height: 50px;
  border-radius: 20px;
  left: -500px;
  
}
.nextbutton2{
  display: flex;
  justify-content: flex-end;
}

